a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
   border: 0;
   margin: 0;
   padding: 0;
   font: inherit;
   font-size: 100%;
   font-family: system-ui;
   vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}
body {
   line-height: 1;
}
ol,
ul {
   list-style: none;
}
blockquote,
q {
   quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
   content: "";
   content: none;
}
table {
   border-spacing: 0;
   border-collapse: collapse;
}
.cf:after,
.cf:before {
   content: " ";
   display: table;
}
.cf:after {
   clear: both;
}

body {
   overflow: hidden;
   background-color: #ebebeb;
}

body.dark-mode {
   background-color: #131c25;
}

body.dark-mode p,
body.dark-mode h1 {
   color: #ffffff;
}

body.dark-mode .menus__blocks .menus__block {
   background-color: #ffffff;
}

body.dark-mode .menus__menu {
   box-shadow: none;
   border-radius: 3px;
   border: 2px solid #273742;
}

body.dark-mode .menus__menu select,
body.dark-mode .menus__menu .menus__links,
body.dark-mode .menus__menu .toggle-theme {
   color: #ffffff;
   background-color: #192734;
}

body.dark-mode .menus__menu select option {
   color: #ffffff;
   background-color: #192734;
}

body.dark-mode .menus__menu select:hover,
body.dark-mode .menus__menu .menus__links:hover,
body.dark-mode .menus__menu .toggle-theme:hover {
   background-color: inherit;
}

body.dark-mode .menus .list-links {
   box-shadow: none;
   border-radius: 3px;
   border: 2px solid #273742;
   background-color: #192734;
}

body.dark-mode .menus .list-links a {
   color: #ffffff;
}
